
body
{
	font-family: verdana;
	background-image:url("img/back.jpg");
	font-size: 11px;
}

table {
	font-size: 10px;
}

a:link		{ color:#700B09 }
a:visited	{ color:#700B09 }
a:active	{ color:#8C7443 }
a:hover		{ color:#8C7443 }

img
{
   border: 0px solid #666666;
}

.menu a
{
   text-decoration: none; color:#700B09;
}

.menu a:hover
{
   text-decoration: none; color: black; background: #F2E2C8;
}

div#footer
{
   text-align: right;
}

div#main
{
	text-align: left;
}

.news
{
	border: 1px solid #665544;
	width: 100%;
	margin-top: 15px;
}

.newshead1
{
	background: #FFEEDD;
	font-weight: bold;
	font-size: 20;
}

.newshead2
{
	background: #FFEEDD;
	font-weight: normal;
	font-size: 9;
}

.newsbody
{
	border-top: 1px dotted #665544;
	background: #FFFAEA;
}

.newsstaticmain
{
	vertical-align: top;
	width: 300px;
}

.newsstatic
{
	border: 1px solid #665544;
	margin-top: 15px;
	background: #CCDAFF;
}

.newsstatichead
{
	background: #007BFF;
	text-align: center;
	font-weight: bold;
}

.head {
	width: 100%;
	text-align: right;
}

.logo {
	text-align: center;
}

.divlogin {
	position:absolute;
	right:5px;
	top:5px;
	z-index:1;
}

.tablelogin {
	border: 1px solid #665544;
	background: #FFFAEA;
	font-size: 9px;
}

.r { text-align: right; }
.l { text-align: left; }

.menu {
	width: 100%;
	text-align: center;
	font-size: 10px;
}

.todo {
	width: 100%;
	font-size: 9px;
}

.stat {
	border: 1px solid #665544;
	background: #FFFAEA;
}

.stat th {
	background: #FFEEDD;
	text-align: center;
}

.err {
	color: red;
	font-weight: bold;
	text-align: center;
}
